<head th:fragment="header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rasp ! | </title>

    <link href="/theme/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!--     <link href="/theme/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/theme/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="/theme/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="/theme/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="/theme/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <link href="/theme/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="/theme/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="/theme/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="/theme/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
    <link href="/theme/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/theme/build/css/custom.min.css" rel="stylesheet">
</head>