<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" th:fragment="sidebar">
	<div class="menu_section">
		<h3>General</h3>
		<ul class="nav side-menu">
			<li><a href="/dashboard"><i class="fa fa-home"></i> Home</a></li>
			<li><a><i class="fa fa-user"></i> Users <span class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="/admin/user">List</a></li>
					<li><a href="/admin/user/new">New user</a></li>
				</ul></li>			
		</ul>
	</div>
</div>

<div class="sidebar-footer hidden-small" th:fragment="footer">
	<a data-toggle="tooltip" data-placement="top" title="Settings"> <span
		class="glyphicon glyphicon-cog" aria-hidden="true"></span>
	</a> <a data-toggle="tooltip" data-placement="top" title="FullScreen">
		<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
	</a> <a data-toggle="tooltip" data-placement="top" title="Lock"> <span
		class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
	</a> <a data-toggle="tooltip" data-placement="top" title="Logout"
		th:href="@{/logout}"> <span class="glyphicon glyphicon-off"
		aria-hidden="true"></span>
	</a>
</div>
